<div class="container">
  <h1> <%= t('contact.thanks')%>, <%= @contact.name %>!</h1>
  <p><%= t('contact.returnText')%></p>
  <%= link_to t('contact.returnButton'), root_url, class: 'btn btn-success' %>
</div>